<div class="bg-move"></div>
<div class="container">
	<div class="row container-btn-simulation">
		<div class="col-sm-12" ng-repeat="program in dataExamples">
			<div class="btn-icon btn-check">
                <a href="#/detalle/{{ program.id_grupo }}">
                    <span></span> {{ program.nombre_grupo }}
                </a>
            </div>
		</div>
		<div class="col-sm-12" ng-if="dataExamples.length == 0">
			<div class="btn-icon btn-video">
                <a><span></span> No se encontro información</a>
            </div>
        </div>
	</div>
	<div class="character">
		<img src="src/images/pj-simulacion-01.png" alt="Simulación">
	</div>
</div>

<!-- Modal manera correcta -->
<div class="modal fade" id="myModalCorrect" role="dialog">
	<div class="modal-dialog modal-lg" style="margin-top: 5rem;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<!--<h1 class="text-center">Forma correcta del Caso</h1>-->
				<div style="overflow-y: auto; max-height: 500px;">
					<img src="src/images/modo_correcto.jpg" style="width: 100%;">
				</div>
				<!-- <iframe height="400" style="width: 100%;" ng-src="{{ video.enlace }}" frameborder="0" allowfullscreen></iframe> -->
			</div>
		</div>
    </div>
</div>

<div class="modal fade" id="myModalIncorrect" role="dialog">
	<div class="modal-dialog modal-lg" style="margin-top: 5rem;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			<div class="modal-body">
				<!--<h1 class="text-center">Forma correcta del Caso</h1>-->
				<div style="overflow-y: auto; max-height: 500px;">
					<img src="src/images/modo_incorrecto.jpg" style="width: 100%;">
				</div>
				<!-- <iframe height="400" style="width: 100%;" ng-src="{{ video.enlace }}" frameborder="0" allowfullscreen></iframe> -->
			</div>
		</div>
    </div>
</div>

<script>
    // Move background 
    $(document).ready(function(){
        $('.main-content').mousemove(function(e){     
            var x = -(e.pageX + this.offsetLeft) / 20;     
            var y = 0;     
            $(this).find('.bg-move').css('background-position', x + 'px ' + y + 'px');    
        }); 
    });
</script>