<div class="bg-move"></div>
<div class="container home">

    <div class="col-sm-12">
    	<div class="cloud bg-white pull-right">
        	<p>
        		Esta herramienta te acompañará paso a paso en la elaboración de un ensayo de investigación jurídica que apunta a la reconstrucción de una línea jurisprudencial y a su presentación en un artículo académico corto de calidad. Estos pasos consecutivos te proveerán, ejercicios, ejemplos y otras cosas herramientas que te ayudarán en la investigación y escritura de tu trabajo de grado. Como sabes, ese trabajo de grado consiste en la elaboración, en un ensayo argumentativo, de una "línea jurosprudencial".
        	</p>
            <div class="btn-icon btn-check" ng-if="dataPDF.ruta">
                <a href="{{ dataPDf.ruta }}" target="_blank"><span></span> Ver Documento</a>
            </div>
    	</div>
    </div>

    <div class="col-sm-12">
    	<div class="character" ng-class="{ 'without-button': !dataPDF.ruta }">
    		<img src="src/images/pj-home.png" alt="Home" style="transform: rotatey(180deg)">
    	</div>
    </div>
</div>

<script>
    // Move background 
    $(document).ready(function(){
        $('.main-content').mousemove(function(e){     
            var x = -(e.pageX + this.offsetLeft) / 20;     
            var y = 0;     
            $(this).find('.bg-move').css('background-position', x + 'px ' + y + 'px');    
        }); 
    });
</script>