<div class="bg-move"></div>
<div class="modal in" id="myModal" role="dialog" style="display: block;z-index: 0;">
	<div class="modal-dialog modal-lg" style="margin-top: 12rem;">
		<div class="modal-content">
			<div class="modal-body">
				<!--<h1 class="text-center">Forma correcta del Caso</h1>-->
				<div style="overflow-y: auto; max-height: 500px;">
					<img src="src/images/modo_correcto.jpg" style="width: 100%;">
				</div>
				<!-- <iframe height="400" style="width: 100%;" ng-src="{{ video.enlace }}" frameborder="0" allowfullscreen></iframe> -->
			</div>
		</div>
    </div>
</div>