<div class="bg-move"></div>
<div class="container">


	<div class="row">
		<div class="col-sm-12">
			<div class="menu-box center-block">
				<ul>
					<li ng-repeat="(key, tool) in toolsBox" class="tool">
						<a href="#/detalleHerramienta/{{ tool.informacion.id }}" description="{{ tool.informacion.descripcion }}"" style="cursor: pointer;">{{ tool.referencia }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">&nbsp;</div>
		<div class="col-sm-2">
			<div class="character">
				<img src="src/images/pj-herramientas-01.png" alt="Caja de herramientas">
			</div>
		</div>
	</div>

</div>

<script>
    // Move background 
    $(document).ready(function(){
        $('.main-content').mousemove(function(e){     
            var x = -(e.pageX + this.offsetLeft) / 20;     
            var y = 0;     
            $(this).find('.bg-move').css('background-position', x + 'px ' + y + 'px');    
        }); 
    });
</script>