<header>
    <nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header" ng-if="validateSessionState">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-if="acceptTerms">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>				
				<a class="navbar-brand logo-header" href="#/home" ng-click="$parent.loader()" ng-if="acceptTerms"></a>
				<a class="navbar-brand logo-header" href="#/" ng-click="$parent.loader()" ng-if="!acceptTerms"></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse" ng-if="acceptTerms">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#/mapaProceso" ng-click="$parent.loader()">Ir a mapa del proceso</a>
					</li>
					<li>
						<a href="#/ejemplos" ng-click="$parent.loader()">Ir a ejemplos</a>
					</li>
					<li>
						<a href="#/lineaJurisprudencial" ng-click="$parent.loader()">Linea jurisprudencial</a>
					</li>
					<li>
						<a href="#/cajaHerramientas" ng-click="$parent.loader()">Caja de herramientas</a>
					</li>
				</ul>
			</div>
		</div>
    </nav>
</header>